
.table {
    color: #000;
    width: 100%;
    table-layout: fixed;
}

.admin-table{
    width: 90%;
    margin-inline: auto;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.1);

}

::-webkit-scrollbar {
    width: 12px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: linear-gradient(to right, var(--primary), var(--secondary));
}

.table__head-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
}

.table__head{
    background: linear-gradient(to right, #25c481, #25b7c4) ;
}

.table__body-wrapper {
    max-height: 70vh;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.table.body {
    height: 30%;
    overflow: hidden;
    
}

.table__th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.table__td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 1023px) {
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table td{
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    
    tr:nth-child(2n+1){
        background: linear-gradient(to left, #25c481, #25b7c4);
        color: #fff;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        font-size: 1rem;
        margin-left: 15px;
    }
}